:root {
    --table-border-color: #ccc;
}


body {
    font-family: Arial,Helvetica,sans-serif;
    /* Force print to show all color, this shows gray color in table at Print Equations */
    /* -webkit-print-color-adjust: exact; */
}

text.name_element {
    font-family: monospace;
}

.hideUnlessNwjs {
    display: none !important;
}
button {
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #ccc;
}
#recent_title {
    background-color: #ddd; 
}
svg {
        border-width: 0px;
}
svg * {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.tooltip {
    width: 400px;
}

@media print
{    
    #topPanel
    {
        display: none !important;
    }
}
#coverEverythingDiv {
    overflow:hidden;
    /* Disable heightlighting text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tool-box-separator {
    display: inline-block;
    width: 12px;
    /*width: 20px;*/
}
button.pressed {
    background-color: #777;
}
.tool-button {
    padding: 0px;
    margin: 0px;
    
    width: 30px;
    height:  30px;

    /*
    width: 40px;
    height:  40px;
    */
}
.toolSupplement {
    padding: 0px;
    margin: 0px;
    
    width: 30px;
    height:  30px;
    display: inline-block;
    vertical-align: text-bottom;
}
#btn_timeunit {
    height:30px; 
    vertical-align: top; 
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block; 
    margin-top: 1px;
}
button svg {
    border-width: 0px;
}
.fileToolBox {
    margin-bottom: 5px;
}
table {
    border-collapse: collapse;
}
td.text {
    text-align: left;		
}
/* for empty plot */
.empty-plot-header {
    font-size: 25px; 
    font-weight: bold;
    width: 100%; 
    text-align: center;
}

/* Sticky table start here (used in TableVisual) */
table.sticky-table {
    width: 100%;
}
table.sticky-table th {
    padding: 8px 8px;
}
table.sticky-table th {
    /* Make header stay at top */
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
}
table.sticky-table th::after {
    /* Make border-bottom since border does follow element with sticky */
    content: "";
    position: absolute;
    background: black;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
}
table.sticky-table th, table.sticky-table td {
    border: 1px solid var(--table-border-color);
} 
table.sticky-table tr:nth-child(even) {
    background-color: #f4f4f4;
}
.time-header-cell::before, .prim-header-cell:not(:last-child)::before {
    /* made up right border */
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: -1px;
    width: 1px;
}
.time-header-cell::before {
    background: black;
}
.prim-header-cell::before {
    background: #aaa;
}
.time-header-cell, .time-value-cell {
    /* make black line between time column and primitive column */
	border-right-width: 1px !important;
    border-right-color: black !important;
}
.time-value-cell {
	text-align: center;
}
.prim-value-cell {
    text-align: right;
    padding: 2px 8px !important;
}
/* Vertical space start here */
div.vertical-space {
    height: 12px;
}

/* Modern Table start here */
.modern-table tr:nth-child(even){
    background-color: #f4f4f4;
}
.modern-table td, .modern-table th {
    border: 1px solid var(--table-border-color);
    padding: 1px 8px;
    vertical-align: text-top;
}
.invisible-table table,tr,th, .invisible-table td {
    border: 0px;
    vertical-align: top;
    padding: 0px 10px;
}
input[type="text"] {
    width: 50px;
    text-align: right;
}
input[type="text"].text-input {
    text-align: left !important;
}
/* Overlays */
.ui-widget-overlay {
    background: #000000;
    opacity: 0.3 !important;
}
button.tool-button img {
    width: 100%; 
    height: 100%; 
    display: inline;
}
.primitive-settings .name-field, 
.primitive-settings .value-field {
    width: 200px;
}
.accordion div {
    width: 200px;
}

.table{
  display: table;
  width:100%;
}
  .table-row{
    display: table-row;
  }
.table-cell {
  display: table-cell;
  padding: 6px;
  /*border: black 1px solid;*/ /*Turn on for debuggning */
}
h3.equation-list-header {
    margin: 5px 0px 0px 0px;
}

.simulation-settings-warning {
    color: red;
}

.accordion-cluster ul {
    padding: 0px;
    margin: 0px;
}

.ui-accordion-content {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
/* Equation editor start here */
.function-help {
    color: black;
}
.function-help:hover {
    color: black;
    text-shadow:0px 0px 1px black;
}
.click-function { 
    cursor: pointer; 
}
.linked-reference {
    color: black;
}
.linked-reference:hover {
    color: black;
    text-shadow:0px 0px 1px black;
}
/* for warning or note texts when changing settings and properties */
.warning {
    /* Used when there is a warning and changes wont be applied */
    color: red;
}
.note {
    /* Used when there is somthing to note but still allowed */
    color: #ff8c00;
}
.macro-text {
    width: 600px;
    height: 400px;
}
/*  Info bar start here */
.info-bar {
    display:flex; 
    margin: 0px; 
    font-size: 16px; 
    height: 32px; 
    font-family: Arial, Helvetica, sans-serif;
}
.info-box__element {
    /* background: #f0f0f0; */ 
    margin: 6px 12px;
    /* padding: 6px 18px; */
    min-width: 140px;
}
.info-bar__definition {
    font-family: monospace;
    float:left; 
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis; 
    max-width:50%;
}
.info-bar__value-error {
    color: red;
    float: right;
}
.info-bar__im-link {
    position: absolute; 
    white-space: nowrap;
    left: 500px;
}

/* Add style to jqplot elements */
.jqplot-highlighter-tooltip {
    /* Overwrite CSS highlighter tool tip*/
    z-index: 2;
    background: white!IMPORTANT;
}
td.jqplot-table-legend {
    /* Avoid line break in plot legend */
    white-space: nowrap;
}

.editor-footer div {
    display: inline;
}