:root {
    --table-border-color: #ccc;

    --color-white: #ffffff; /* Pure white */
    --color-background-light: #f8f8f8; /* Background light */
    --color-border: #c3c3c3; /* Border color for SVG plane */
    --color-highlight-neutral: #e4e4e4; /* Neutral highlight */
    --color-highlight-primary: #7083c2; /* Primary highlight */
    --color-text-primary: #1e1e1e; /* Primary text color */
    --color-text-secondary: #787878; /* Subtle text color, e.g., for shortcuts */
    --color-divider-muted: #a1a1a1; /* Divider shade for menu options */
    --shadow-menu: 0 0 4px 0 rgba(0, 0, 0, 0.25); /* box shadow for menu */
    --color-progress-complete: #aaeeaa;
    --color-progress-pending: #eed0aa;
    --radius-menu: 0.25rem;
}


body {
    font-family: Arial,Helvetica,sans-serif;
    /* Force print to show all color, this shows gray color in table at Print Equations */
    /* -webkit-print-color-adjust: exact; */
    color: var(--color-text-primary);
    margin: 0;
    padding: 0;
}

text.name_element {
    font-family: monospace;
}

.hideUnlessNwjs {
    display: none !important;
}
svg {
        border-width: 0px;
}
svg * {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.tooltip {
    width: 400px;
}

@media print
{    
    #topPanel
    {
        display: none !important;
    }
}
#coverEverythingDiv {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: var(--color-background-light);
    display: flex; 
    flex-direction: column;

    overflow: hidden;
    /* Disable highlighting text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* menu */
.fileToolBox {
    width: calc(100% - 1rem);
    margin-bottom: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#homepage-info {
    font-size: 0.75rem;
    margin-left: auto;
    color: var(--color-text-secondary);
}

/* tool panel */
.toolPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem 1.25rem;
    margin-top: 0.5rem;
    --button-size: 1.875rem;
}
.toolPanel > .tool-grouping {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-block: 0.25rem;
    height: var(--button-size);
    gap: 1px;
}
/* buttons title */
[data-title] {
    position: relative;
}
[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.125rem);
    left: 0;
    white-space: pre;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--color-text-primary);
    color: var(--color-background-light);
    border-radius: 0.25rem;
    z-index: 4;
}

/* buttons */
.toolPanel button.tool-button {
    border: unset;
    padding: 2px;
    margin: 0;
    box-sizing: content-box;
    width: var(--button-size);
    height: 100%;
    background-color: transparent;
}
button.tool-button img {
    width: 100%; 
}
.toolPanel button.tool-button.pressed {
    background-color: var(--color-highlight-neutral);
    outline: 2px solid var(--color-highlight-primary);
    outline-offset: -2px;
}
.toolPanel button {
    cursor: pointer;
    font-size: 14px;
    border-width: 1.5px;
}
.toolPanel button.tool-button:hover:enabled {
    background-color: var(--color-highlight-neutral);
}
.toolPanel button.tool-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
/* progress bar */
#progress-bar {
    position: relative;
    background-color: var(--color-highlight-neutral);
    width: max-content;
    display: inline-block; 
    min-width: 110px;
    height:  100%;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
#progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--progress);
    background-color: red;
    background-color: var(--color-progress-pending);
}
#progress-bar[data-done]::before {
    background-color: var(--color-progress-complete);
}
#progress-bar-text {
    position: absolute;
    inset: 0;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    width: max-content;
    font-size: 12px;
    color: var(--color-text-primary);
}
/* time unit button */
#btn_timeunit {
    height: 100%; 
    vertical-align: top; 
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block; 
    border: unset;
    background-color: transparent;
}
#btn_timeunit:hover {
    background-color: var(--color-highlight-neutral);
}
#btn_timeunit > #timeunit-label {
    font-size: 10px;
    color: var(--color-text-secondary);
}
button svg {
    border-width: 0px;
}
table {
    border-collapse: collapse;
}
/* for empty plot */
.empty-plot-header {
    font-size: 25px; 
    font-weight: bold;
    width: 100%; 
    text-align: center;
}

/* Sticky table start here (used in TableVisual) */
table.sticky-table {
    width: 100%;
}
table.sticky-table th {
    padding: 8px 8px;
}
table.sticky-table th {
    /* Make header stay at top */
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
}
table.sticky-table th::after {
    /* Make border-bottom since border does follow element with sticky */
    content: "";
    position: absolute;
    background: black;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
}
table.sticky-table th, table.sticky-table td {
    border: 1px solid var(--table-border-color);
} 
table.sticky-table tr:nth-child(even) {
    background-color: #f4f4f4;
}
.time-header-cell::before, .prim-header-cell:not(:last-child)::before {
    /* made up right border */
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: -1px;
    width: 1px;
}
.time-header-cell::before {
    background: black;
}
.prim-header-cell::before {
    background: #aaa;
}
.time-header-cell, .time-value-cell {
    /* make black line between time column and primitive column */
	border-right-width: 1px !important;
    border-right-color: black !important;
}
.time-value-cell {
	text-align: center;
}
.prim-value-cell {
    text-align: right;
    padding: 2px 8px !important;
}
/* Vertical space start here */
div.vertical-space {
    height: 12px;
}
div.center-vertically-container {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.center-horizontally {
    margin-left: auto;
    margin-right: auto;
}

/* Modern Table start here */
.modern-table tr:nth-child(even){
    background-color: #f4f4f4;
}
.modern-table td, .modern-table th {
    border: 1px solid var(--table-border-color);
    padding: 1px 8px;
    vertical-align: text-top;
}
.invisible-table table,tr,th, .invisible-table td {
    border: 0px;
    vertical-align: top;
    padding: 0px 10px;
}
input[type="number"] {
    width: 70px;
    text-align: right;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type=text] {
    width: 100%;
    text-align: left;
}
/* Overlays */
.ui-widget-overlay {
    background: #000000;
    opacity: 0.3 !important;
}
button.primitive-add-button {
    color: #00aa00 !important; 
    font-size: 1.3em !important; 
    font-weight: bold !important; 
    font-family: monospace !important;
}
button.primitive-add-button[disabled]{
    color: grey !important;
}
button.primitive-remove-button {
    color: #aa0000 !important; 
    font-size: 1.3em !important; 
    font-weight: bold !important; 
    font-family: monospace !important;
}

.name-field, .value-field {
    font-family: monospace !important;
}

.primitive-settings .name-field, 
.primitive-settings .value-field {
    width: 200px;
}
.primitive-settings > * {
    box-sizing: border-box;
}

.table{
  display: table;
  width:100%;
}
  .table-row{
    display: table-row;
  }
.table-cell {
  display: table-cell;
  padding: 6px;
  /*border: black 1px solid;*/ /*Turn on for debuggning */
}
h3.equation-list-header {
    margin: 5px 0px 0px 0px;
}

.accordion-cluster ul {
    padding: 0px;
    margin: 0px;
}

.ui-accordion-content {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
/* Equation editor start here */
.function-help:hover {
    background-color: hsl(0, 0%, 90%);
}
.click-function { 
    cursor: pointer; 
}
.linked-reference {
    font-family: monospace;
}
.linked-reference:hover {
    background-color: hsl(0, 0%, 90%);
}
/* for warning or note texts when changing settings and properties */
.warning {
    /* Used when there is a warning and changes wont be applied */
    color: red;
}
.note {
    /* Used when there is somthing to note but still allowed */
    color: #ff8c00;
}
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
.example-code {
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f0f0f0;
}

.help-button {
    background: none;
    border-radius: 50%;
    border: 2px solid #999;
    color: #999;
    height: 1.3em;
    width: 1.3em;
    font-weight: bold;
    font-size: 1.1em !important;
    padding: 0;
}
.help-button:hover {
    border-color: black;
    color: black;
}
.help-button:focus {
    outline: none;
}

.macro-text {
    width: 600px;
    height: 400px;
}
/*  Info bar start here */
.info-bar {
    display:flex; 
    justify-content: space-between;
    margin: 0px; 
    font-size: 14px; 
    height: 32px; 
    font-family: Arial, Helvetica, sans-serif;
}
.info-box__element {
    white-space:nowrap; 
    margin: 0px 24px;
    /* min-width: 140px; */
}
.info-bar__definition {
    font-family: monospace;
    overflow:hidden; 
    text-overflow:ellipsis; 
    max-width: 50vw;
}
.info-bar__value-error {
    color: red;
    float: right;
}
.info-bar__im-link {
    white-space: nowrap;
    margin: 0px 24px;
}

/* Add style to jqplot elements */
.jqplot-highlighter-tooltip {
    /* Overwrite CSS highlighter tool tip*/
    z-index: 2;
    background: white!IMPORTANT;
}
td.jqplot-table-legend {
    /* Avoid line break in plot legend */
    white-space: nowrap;
}
.editor-footer div {
    display: inline;
}
b[data-arg]::before {
    content: attr(data-arg);
    position: absolute;
    top: 1.3em;
    font-weight: normal;
    white-space: pre;
}
.ui-tooltip {
    min-width: 22em;
}
.selected {
    outline: 2px solid #08f;
    outline-offset: -1px;
}


.preferences > .preference {
    padding: 0.75em 1.5em;
}
.preferences > .preference:hover {
    background-color: #f4f4f4;
}
.preferences > .preference:not(:hover) .btn_reset {
    visibility: hidden;
}
.preferences > .preference .title {
    font-weight: bold;
}