/*

This file may distributed and/or modified under the
terms of the Affero General Public License (http://www.gnu.org/licenses/agpl-3.0.html).

*/

.eMenu {
	display: inline-block;
	position: relative;
	z-index: 1000;
}

.eMenu .menuContent {
	position: absolute;
	display: none;
	min-width: 100px;
	z-index: 1001;
}

.eMenu .menuContent > span {
	display: block;
}

div.recent-path {
	display: inline; 
	color: dimgray; 
	font-size: 12px;
}

button:hover > .recent-path {
	color: black;
}

div.recent-name {
	display: inline;
}

.eMenu .menuContent button {
	width: 100%;
	text-align: left;
	white-space: nowrap;
}
