distribute/nwjs-output
distribute/nwjs-templates
distribute/package-for-linux/tmp/
distribute/package-for-mac/download
distribute/package-for-mac/output
OpenSystemDynamics/build/
OpenSystemDynamics/node_modules/
OpenSystemDynamics/package-lock.json
node_modules/
distribute/node_modules
distribute/output
package-lock.json
build/
dist/
.DS_Store
tsconfig.tsbuildinfo
