.help-button {
    background: none;
    border-radius: 50%;
    border: 2px solid #999;
    color: #999;
    height: 1.3em;
    width: 1.3em;
    font-weight: bold;
    font-size: 1.1em !important;
    padding: 0;
}
.help-button:hover {
    border-color: black;
    color: black;
}
.help-button:focus {
    outline: none;
}
