.preferences-layout {
    display: flex;
    max-height: calc(80vh - 10rem);
}
.preference-categories {
    flex-shrink: 0;
    border-right: 1px solid #ddd;
    padding: 0.5em 0;
    overflow-y: auto;
}
.preference-category {
    padding: 0.5em 1.5em;
    cursor: pointer;
}
.preference-category:hover {
    background-color: #f4f4f4;
}
.preference-category.selected {
    background-color: #e4e4e4;
    font-weight: bold;
    outline: 2px solid #08f;
    outline-offset: -1px;
}
.preferences {
    overflow-y: auto;
}
.preferences .preference {
    padding: 0.75em 1.5em;
}
.preferences .preference:hover {
    background-color: #f4f4f4;
}
.preferences .preference:not(:hover) .btn_reset {
    visibility: hidden;
}
.preferences .preference .title {
    font-weight: bold;
}
